// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.folding-preview {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    background-color: #000000;
    transform: translate(0, -100%);
}
