// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

@background-grey: #282c34;

.folding-preview {
    display: inline-block;
    white-space: nowrap;
    outline: 0.1em solid #486167;
    background-color: @background-grey;
    border-left: 0.15em solid @background-grey;
    border-right: 0.35em solid @background-grey;
    transform: translate(0, -100%);
}

@keyframes folding-preview-border-blink {
   50% { outline-color: #4195f4; }
}

.folding-preview-under-cursor {
    .folding-preview;
    animation-name: folding-preview-border-blink;
    animation-duration: 0.85s;
    animation-iteration-count: infinite;
    animation-timing-function: step-start;
}

.cpp-template-keyword {
    color: #c678dd;
}
